[phases.setup]
nixPkgs = ["ffmpeg"]

[phases.install]
cmds = ["pip install --no-cache-dir -r requirements.txt"]

[start]
cmd = "gunicorn app:app --bind 0.0.0.0:${PORT} --workers=1 --threads=4 --timeout=600"
